.trucate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-image {
    background-image: url('https://mdtanweer.github.io/examportal/assets/exam.png');
    background-size: cover;
  }